extends layout 

block content 

  h1 #{title}

  form(method='POST')
    div.form-group
      label(for='name') Art Type: 
      input(
        type='text', 
        placeholder='Painting, Sculpture etc.'
        name='name' 
        required
        value=(undefined===artType ? '' : artType.name)
      )
      button(type='submit') Submit

    if errors 
      ul
        for error in errors
          li!= error.msg